# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Audio / Video Outputs
# ===============================
*.wav
*.mp3
*.mp4
*.mov

# ===============================
# Generated Project Outputs
# ===============================
renderer/base.mp4
renderer/output.mp4
highlights/outputs/

# ===============================
# AI / Cache
# ===============================
.cache/
torch_cache/
.whisper_cache/

# ===============================
# Logs
# ===============================
*.log

# Ignore all JSON files
*.json
# ignore .env
.env
