# ===============================
# Core
# ===============================
python>=3.9

# ===============================
# Audio / Video Processing
# ===============================
ffmpeg-python
moviepy==1.0.3
imageio
imageio-ffmpeg

# ===============================
# Speech to Text
# ===============================
openai-whisper
torch
tqdm
numpy

# ===============================
# Image / Caption Rendering
# ===============================
Pillow

# ===============================
# Frontend
# ===============================
streamlit

# ===============================
# Utilities
# ===============================
python-dotenv
